/* Home Page Styles */
.background-container {
  background-image: url("./img/BG_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
}

.centered-button {
  margin-bottom: 10vh;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  height: 100px;
  font-weight: 800;
}
/* Form Page Styles */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-data-centered {
  display: flex;
  height: 80vh;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}
/* Form Page Styles */
.scan-animation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: scanAnimation 2s infinite;
}

.scanning-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scanning-arrow {
  animation: arrowRotation 2s infinite linear;
}

@keyframes arrowRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Server Page Styles */
.server-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.server-main img {
  max-width: 10vw;
}
.server-btn-container {
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.server-btn {
  margin: 2vh;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  height: 100px;
  font-weight: 800;
}
.size-topic {
  background-color: #d9d9d9;
  padding: 0.5vh 3vw;
  font-weight: 900;
  font-size: 1.5rem;
}
.size-data {
  background-color: #d9d9d9;
  padding: 5vh 10vw;
  font-size: 1.5rem;
}
.table-data table th {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;  
  display: flex;
  align-items: center;
  text-align: center;
  color: #636262;
}
.table-data table td:first-child{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;  
  display: flex;
  align-items: center;
  text-align: center;
  color: #636262;
}